@import "./assets/sass/variables";
@import "./assets/sass/fonts";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  &-nav {
    display: inline-block;
    margin-right: 1rem;
  }
}

.swiper-button {
  background-size: 100% auto;
  background-position: center;
  bottom: 0;
  z-index: 10;
  background-repeat: no-repeat;

  &-next {
    @extend .swiper-button;
    background-image: url(./assets/icons/ic_arrow_right_24px.png);
    transform: translate(-90%, 975%);

    &::after {
      display: none;
    }
  }
  &-prev {
    @extend .swiper-button;
    background-image: url(./assets/icons/ic_arrow_left_24px.png);
    transform: translate(5750%, 975%);

    &::after {
      display: none;
    }
  }
}

.nav {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  transform: translate(35%, -60%);
  position: absolute;
  z-index: 20;

  &-box {
    position: relative;
    bottom: 0;
    z-index: 20;
    border-radius: 20px;
    padding: 1.5rem;

    color: $text-color;
    margin-left: 2vw;

    background-color: rgba(255, 255, 255, 0.15);

    transition: 300ms ease-in-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    &:hover {
      background-color: rgba(200, 200, 200, 0.5);
      //   background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
    }

    &__active {
      @extend .nav-box;
      background-color: rgba(225, 225, 225, 0.7);
      -webkit-box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.35);
      box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.35);
    }
  }

  &-title {
    display: inline-block;
    font-size: 3rem;
    color: $text-color;
    font-family: $main-font;
    text-align: right;
  }

  &-underline {
    display: flex;
    margin: 0.5rem auto;
  }

  &-description {
    display: block;
    text-align: center;
    font-family: $alt-font;
    font-weight: lighter;
    font-size: 1.5rem;
  }

  &-button {
    position: absolute;
    z-index: 10;
    transform: translate(-100%, -100%);
    bottom: 0;
    right: 0;
    color: $text-color;
    font-size: 3rem;
    font-family: $main-font;
    &__fix {
      // This fixes the moving numbers
      padding-right: 0.65rem;
    }
  }
}

.menu {
  max-width: 100vw;
  display: flex;
  transform: translateY(-20%);
  z-index: 20;
  margin-top: 2vw;
  margin-left: 2vw;
  top: 0;
  left: 0;

  position: absolute;

  &-nav {
    align-items: center;
    margin-left: 2vw;
  }

  &-item {
    justify-content: flex-end;
    flex-direction: row;
    color: $text-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 5vw;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
      transform: scale(2);
    }
  }

  &-button {
    cursor: pointer;
  }

  .search {
    position: relative;

    z-index: 20;

    & > input {
      background-color: rgba(255, 255, 255, 0.75);
      border: 1px solid rgba(200, 200, 200, 0.75);
      border-radius: 1vw;
      padding: 1rem;
      font-size: 1.11vw;
      padding: 17px;
      padding-left: 55px;
      width: 650px;
      border: 1px solid #f5f5f5;
      color: gray;
      background-image: url("./assets/icons/ic_search.png");
      background-repeat: no-repeat;
      background-position: 20px center;
      outline: 0;
    }

    &-icon {
      height: 100%;
      width: 100%;
      margin-right: 0.5vw;
    }
  }
}

.slide-wrapper {
  width: 100vw;
  height: 100vh;
}

.slide {
  position: relative;
  height: 100%;
  z-index: -10;

  &-explore-nepal {
    z-index: 20;
    position: relative;

    img {
      opacity: 1;
      transform: translate(25%, 75%);
      top: 50;
      left: 50;
      position: absolute;
      transition: ease-in-out 300ms;
    }
  }

  &-image {
    object-fit: cover;
    width: 100%;
    z-index: 0;
  }
}
